<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>原生二维码测试.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74E822661D9D1356007117D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74E8227F1D9D1356007117D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74E8228A1D9D1356007117D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
